
.post-list {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row; /* Changed to row for horizontal layout */
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable horizontal scroll snapping */
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  cursor: grab;
}

.post-list.active {
  cursor: grabbing;
}

.post-item {
  background-color: #fff;
  border-right: 1px solid #eee; /* Use border-right as a separator */
  scroll-snap-align: start; /* Snap to the start of each item */
  overflow-y: auto; /* Allow vertical scrolling for long content */
  height: 100%;
  box-sizing: border-box; /* Ensure padding is included in the 100% width/height */
  padding: 0px 10%; /* post-item의 좌우 마진과 동일하게 설정 */
  flex: 0 0 100%; /* 뷰포트 너비의 100%를 차지하도록 조정 */
  margin: 0 10px; /* 아이템 사이의 간격 추가 */
  }

/* New style for when the list itself is loading */
.post-list.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-list.loading::after {
  content: '';
  width: 50px; /* Adjust size as needed */
  height: 50px;
  background-image: url('/free-animated-icon-loading-17905699.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.post-item h3 {
  margin-top: 0;
  color: #007bff;
}

.post-item p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #333;
}

.post-item button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8em;
  margin-top: 10px;
}

.post-item button:hover {
  background-color: #0056b3;
}

.reports-list {
  margin-top: 15px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.reports-list h4 {
  margin-top: 0;
  color: #333;
  font-weight: bold;
  font-size: 0.9em;
}

.report-item {
  padding: 10px;
  background-color: #fdfdfd;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 10px;
}

.report-item p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.post-image {
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .post-list {
     padding: 15px 0;
     gap: 12px; /* Add some vertical padding */
  }

  .post-item {
    padding: 5px 10%; /* post-item의 좌우 마진과 동일하게 설정 */
    flex: 0 0 100%; /* 뷰포트 너비의 100%를 차지하도록 조정 */
    margin: 0 10px; /* 아이템 사이의 간격 추가 */
    scroll-snap-align: center; /* 아이템의 중앙에 스냅 */
  }

  .post-item button {
    font-size: 14px;
    padding: 10px;
  }

  .reports-list {
    margin-top: 10px;
  }

  .report-item {
    padding: 8px;
  }
}
