:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column; /* Arrange children vertically: Header on top, main-content below */
  height: 100vh;
  width: 100%;
  background-color: #fff; /* Set a background for the app */
  color: #212529; /* Default text color */
}

.main-content {
  display: flex;
  flex-direction: row; /* Keep panel and map side-by-side */
  flex-grow: 1; /* Fill remaining vertical space */
  min-height: 0; /* Prevent flexbox overflow issues */
}

.map-container {
  flex-grow: 1;
  height: 100%; /* Take full height of parent (.main-content) */
  position: relative; /* Important for leaflet controls */
}

